<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8" />
  <title>しらゆき歯科</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body>
  <!-- ヘッダー -->
<header class="site-header">
  <div class="container row-between header-wrap">
    <a class="brand" href="<%= root_path %>">しらゆき歯科(仮)</a>

    <!-- ハンバーガー -->
    <button class="nav-toggle" aria-expanded="false" aria-controls="nav" aria-label="メニュー">
      ☰
    </button>

    <!-- ナビ -->
    <nav id="nav" class="site-nav" aria-label="主なナビゲーション">
      <a href="#services">診療内容</a>
      <a href="#hours">診療時間</a>
      <a href="#access">アクセス</a>
      <%= link_to "Web予約", new_reservation_path, class: "btn btn-primary" %>
    </nav>
  </div>
</header>


  <!-- メインコンテンツ -->
  <main class="container content">
    <% if notice %><p class="notice"><%= notice %></p><% end %>
    <% if alert  %><p class="alert"><%= alert  %></p><% end %>

    <%= yield %>
  </main>

  <!-- フッター -->
  <footer class="site-footer">
    <div class="container">
      <p class="brand">しらゆき歯科(仮)</p>
      <p>〒123-4567 東京都サンプル区1-2-3 サンプルビル1F ｜ TEL <a href="tel:0312345678">03-1234-5678</a></p>
      <p class="muted small">© <span id="year"></span> Shirayuki Dental Clinic</p>
    </div>
  </footer>

</body>
</html>
